<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加衣服</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div  align="center">
<h1>添加衣服</h1>
    <form th:action="@{/cloth/list" th:object="${cloth_info}" method="post">
<table>

            <tr><th>商品名称:</th><td><input type="text" name="name"></td></tr>
            <tr><th>品牌:</th><td><input type="text" name="brand"></td></tr>
            <tr><th>价值:</th><td><input type="text" name="value"></td></tr>
            <tr><th>状态:</th><td><input type="text" name="clothsta"></td></tr>
            <tr><th>上架状态:</th><td><input type="text" name="shelfsta"></td></tr>

            <tr><th>录入时间:</th><td><input type="text" name="time"></td></tr>
            <tr><th>尺寸:</th><td><input type="text" name="size"></td></tr>
            <tr><th>衣着部位:</th><td><input type="text" name="part"></td></tr>
            <tr><th>占用衣柜:</th><td><input type="text" name="clothcub"></td></tr>
            <tr><th>场景:</th><td><input type="text" name="scenes"></td></tr>

            <tr><th>季节:</th><td><input type="text" name="season"></td></tr>
            <tr><th>颜色:</th><td><input type="text" name="color"></td></tr>
            <tr><th>风格:</th><td><input type="text" name="style"></td></tr>
            <tr><th>收藏量:</th><td><input type="text" name="colcnt"></td></tr>
            <tr><th>常礼服分类:</th><td><input type="text" name="sort"></td></tr>
           <tr><td colspan="2" align="center"><input type="submit"></td></tr>
</table>
    </form>
</div>
</body>
</html>