<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加标签</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 align="center">添加加标签</h1>
<div align="center">
    <form th:action="@{/tag/add}" th:object="${sort_tag}" method="post">
        <table border="1">
        <tr><th>标签名字</th><td><input type="text" name="tag"></td></tr>
        <tr><th>标签分类</th><td><input type="text" name="sort"></td></tr>
            <tr><td colspan="2" align="center"><input type="submit"></td></tr>
        </table>
    </form>
</div>
</body>
</html>