<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>查看日志</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 align="center">查看日志</h1>
<div class="row">
    <div class="col-md-2" style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <h3>导航栏</h3>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="ManagerMain.html">管理后台</a>

                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a  href="Cloth.html" th:href="@{/cloth/index}" class="dropdown-toggle" data-toggle="dropdown">
                                管理衣服<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="Cloth.html" th:href="@{/cloth/index}">服装管理</a></li>
                                <li><a href="Brand.html" th:href="@{/brand/index}">品牌管理</a></li>
                                <li><a href="Tag.html" th:href="@{/tag/index}">标签管理</a></li>
                            </ul>
                        </li>
                        <li><a href="Order.html" th:href="@{/order/deal/all}">管理订单</a></li>
                        <li>
                            <a href="ManagePiece_Delivery.html" th:href="@{/order/all}" class="dropdown-toggle" data-toggle="dropdown">
                                管理派送<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ManagePiece_Delivery.html" th:href="@{/order/send/all}">送件管理</a></li>
                                <li><a href="ManagePiece_Retrieve.html" th:href="@{/order/back/all}">取回管理</a></li>
                            </ul>
                        </li>
                        <li><a href="User.html" th:href="@{/account/list}">管理会员</a></li>
                        <li><a href="ManageCheck.html" th:href="@{/order/check/all}">管理审核</a></li>
                        <li class="active"><a href="Log.html" th:href="@{/log/all}">查看日志</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="col-md-10" style="background-color:#FFFFFF;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <table class="table table-hover">
                <tr><th>id</th><th>管理员ID</th><th>ip</th><th>模块名称</th><th>操作名称</th><th>详细内容</th><th>时间</th>
                </tr>
                <tr th:each="log:${logs}">
                    <td th:text="${log.id}"></td>
                    <td th:text="${log.adminid}"></td>
                    <td th:text="${log.ip}"></td>
                    <td th:text="${log.mdule}"></td>
                    <td th:text="${log.bugdeal}"></td>
                    <td th:text="${log.operate}"></td>
                    <td th:text="${log.time}"></td>
                </tr>
            </table>
    </div>
</div>
</body>
</html>