<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>送件管理</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 align="center">管理派送</h1>
<div class="row">

    <div class="col-md-2" style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <h4>导航栏</h4>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="ManagerMain1.html">管理后台</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href= href="Cloth.html" th:href="@{/cloth/list}" class="dropdown-toggle" data-toggle="dropdown">
                                管理衣服<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="Cloth2.html" th:href="@{/cloth/list}">服装管理</a></li>
                                <li><a href="Brand.html" th:href="@{/brand/list}">品牌管理</a></li>
                                <li><a href="Tag1.html" th:href="@{/tag/list}">标签管理</a></li>
                            </ul>
                        </li>
                        <li><a href="Order.html" th:href="@{/order/deal/all}">管理订单</a></li>
                        <li>
                            <a href="ManagePiece1.html" th:href="@{/order/all}" class="dropdown-toggle" data-toggle="dropdown">
                                管理派送<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="ManagePiece_Delivery.html" th:href="@{/order/send/all}">送件管理</a></li>
                                <li><a href="ManagePiece_Retrieve.html" th:href="@{/order/back/all}">取回管理</a></li>
                            </ul>
                        </li>
                        <li><a href="User.html" th:href="@{/account/list}">管理会员</a></li>
                        <li><a href="ManageCheck.html" th:href="@{/order/check/all}">管理审核</a></li>
                        <li><a href="Log.html" th:href="@{/log/all}">查看日志</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="col-md-10">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="ManagePiece1.html" th:href="@{/order/all}">管理派送</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="ManagePiece_Delivery.html" th:href="@{/order/send/all}">送件管理</a></li>
                        <li><a href="ManagePiece_Retrieve.html" th:href="@{/order/back/all}">取回管理</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <form th:action="@{/order/send/search}" method="get">
                <input type="text" class="form-control" name="key"  placeholder="关键词" style="width:75%;float:left">
                <button type="submit" class="btn btn-primary" >搜索</button>
            </form>

                <table class="table table-hover">
                    <thead>
                    <tr><th>id</th><th>商品ID</th><th>用户ID</th><th>下单时间</th><th>发货</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Order,iterStat:${orders}">
                        <td th:text="${Order.id}"></td>
                        <td th:text="${Order.clothid}"></td>
                        <td th:text="${Order.userid}"></td>
                        <td th:text="${Order.ordertime}"></td>
                        <td>
                                                <div>
                                                    <script th:inline="javascript">
                                                        function Values(idx) {
                                                            var orders = [[${orders}]];
                                                            $("#id").val(orders[idx].id);
                                                        }
                                                    </script>
                                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" th:onclick="'javascript:Values('+${iterStat.index}+')'">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <!-- 模态框（Modal） -->
                                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h2 class="modal-title" id="myModalLabel" align="center">
                                                                        填写派送单号
                                                                    </h2>
                                                                </div>
                                                                <div class="modal-body" align="center">
                                                                    <form th:action="@{/order/send}" method="post">
                                                                        <input type="hidden" name="id" id="id">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label">派送单号</label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control" name="trackid"  placeholder="请输入派送单号">
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                                            </button>
                                                                            <button type="submit" class="btn btn-primary">
                                                                                提交
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal -->
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
    </div>
</div>

</body>
</html>