<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>管理派送</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 align="center">管理派送</h1>
<div class="row">
    <div class="col-md-2" style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <h3>导航栏</h3>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="ManagerMain1.html">管理后台</a>

                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="Cloth2.html" th:href="@{/cloth/index}" class="dropdown-toggle" data-toggle="dropdown">
                                管理衣服<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="Cloth2.html" th:href="@{/cloth/index}">服装管理</a></li>
                                <li><a href="Brand.html" th:href="@{/brand/index}">品牌管理</a></li>
                                <li><a href="Tag.html" th:href="@{/tag/index}">标签管理</a></li>
                            </ul>
                        </li>
                        <li><a href="Order.html" th:href="@{/order/deal/all}">管理订单</a></li>
                        <li lass="active">
                            <a href="ManagePiece.html" th:href="@{/order/all}" class="dropdown-toggle" data-toggle="dropdown">
                                管理派送<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="ManagePiece_Delivery.html" th:href="@{/order/send/all}">送件管理</a></li>
                                <li><a href="ManagePiece_Retrieve.html" th:href="@{/order/back/all}">取回管理</a></li>
                            </ul>
                        </li>
                        <li><a href="User.html" th:href="@{/account/list}">管理会员</a></li>
                        <li><a href="ManageCheck.html" th:href="@{/order/check/all}">管理审核</a></li>
                        <li><a href="Log.html" th:href="@{/log/all}">查看日志</a></li>
                    </ul>
                </div>
            </div>
        </nav>


    </div>


    <div class="col-md-10">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="ManagePiece.html" th:href="@{/order/all}">管理派送</a>

                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="ManagePiece_Delivery.html" th:href="@{/order/send/all}">送件管理</a></li>
                        <li><a href="ManagePiece_Retrieve.html" th:href="@{/order/back/all}">取回管理</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-3">
                <form th:action="@{/order/search}" method="get">
                    <input type="text" class="form-control" name="key"  placeholder="关键词" style="width:75%;float:left">
                    <button type="submit" class="btn btn-primary" >搜索</button>
                </form>
            </div>
        </div>
        <div>
                <table class="table table-hover">
                    <thead>
                    <tr><th>id</th><th>商品ID</th><th>用户ID</th><th>快递单号</th><th>电话</th>
                        <th>详细地址</th><th>下单时间</th><th>发货时间</th><th>收货时间</th><th>订单状态</th>
                        <th>归还时限</th><th>归还单号</th><th>异常状态</th><th>未处理</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Order:${orders}">
                        <td th:text="${Order.id}"></td>
                        <td th:text="${Order.clothid}"></td>
                        <td th:text="${Order.userid}"></td>
                        <td th:text="${Order.trackid}"></td>
                        <td th:text="${Order.phone}"></td>

                        <td th:text="${Order.address}"></td>
                        <td th:text="${Order.ordertime}"></td>
                        <td th:text="${Order.delivtime}"></td>
                        <td th:text="${Order.recevtime}"></td>
                        <td th:text="${Order.status}"></td>

                        <td th:text="${Order.backtime}"></td>
                        <td th:text="${Order.backtrack}"></td>
                        <td th:text="${Order.bugsta}"></td>
                        <td th:text="${Order.bugdeal}"></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
</body>
</html>