<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>修改服装信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h1 align="center">修改服装信息</h1>
<div class="col-sm-4">

</div>
<div class="col-sm-4">
    <div>
    <form th:action="@{/Cloth}" th:object="${cloth_info}" method="post">
        <div class="form-group">
            <label class="col-sm-4 control-label">商品名称</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{name}"  placeholder="请输入商品名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">品牌</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{brand}"  placeholder="请输入商品品牌">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">价值</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{value}"  placeholder="请输入商品价值">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">状态</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{clothsta}"  placeholder="请输入商品状态">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">商品上架状态</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{shelfsta}"  placeholder="请输入商品上架状态">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">录入时间</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{time}"  placeholder="请输入商品录入时间">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">尺寸</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{size}"  placeholder="请输入商品尺寸">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">衣着部位</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{part}"  placeholder="请输入商品衣着部位">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">占用衣柜</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{brand}"  placeholder="请输入商品占用衣柜">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">场景</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{value}"  placeholder="请输入商品场景">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">季节</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{clothsta}"  placeholder="请输入商品季节">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">颜色</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{shelfsta}"  placeholder="请输入商品颜色">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">风格</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{time}"  placeholder="请输入商品风格">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">收藏量</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{size}"  placeholder="请输入商品收藏量">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">常礼服分类</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{part}"  placeholder="请输入商品常礼服分类">
            </div>
        </div>

    </form>
    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">
            提交
        </button>
    </div>

</div>
<div class="col-sm-4">

</div>
</body>
</html>