<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>回复客户</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 align="center">回复客户</h1>
<div align="center">
    <form th:action="@{/Reply}" th:object="${feedback_list}" method="post">
        <table>
            <tr><th>回复内容</th><td><input type="text" th:field="*{detail}"></td></tr>
            <tr><td colspan="2" align="center"><input type="submit"></td></tr>
        </table>
    </form>
</div>
</body>
</html>